/colaboradores/sebas/raw_data
/eda/weather_tlc_2020_S1.ipynb
/eda/.cache.sqlite
/eda/api_pollution.ipynb

/GCP/cs_to_bigquery_airPollution.ipynb
/GCP/cs_to_bigquery_weather.ipynb
GCP/open-meteo-40.74N74.04W37m.csv
